Footer {
    background-color: #2b2221;
    color: white;
}
#storyPod{
    background-color: #010127;
    color:rgb(240, 182, 182);
}
#guests{
    background-color:#99c5f2;
    color:black;

}
main{
    font-family: "Noto Sans Meroitic";
}
