header {
    background-color: #b53641;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: "Playfair Display", serif;
    color: antiquewhite;
}

#opening {
    padding: 5%;
    background-color: #f5e076;
    font-family: "Lora", serif;
}

#confidence {
    padding: 5%;
    background-color: #c7bfbf59;
    font-family: "Lora", serif;
}

.caption {
    font-size: .75em;
    font-style: oblique;
    color: black;
    font-family: "Lora", serif;
}

#smile {
    padding: 5%;
    background-color: #f5e076;
    font-family: "Lora", serif;
}

#closing {
    font-family: "Lora", serif;
}

#graphone {
    padding: 5%;
    font-family: "Lora", serif;
}

.container {
    font-family: "Lora", serif;
}

footer {
    font-family: "Lora", serif;
    background-color: #f56262;

}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}